# Environment files
.env
.env.local
.env.production
.env.staging
.env.testing

# Testing puede ser incluido si no tiene datos sensibles
# .env.testing

# Logs
storage/logs/*.log

# Keys de Passport
storage/*.key
storage/oauth-*.key

# Testing storage
storage/testing/

# Vendor
/vendor/